a {
  background: linear-gradient(42deg, #e4e714 0%, #f50f0f 100%);
}

body {
text-align: center;
  min-height: 100vh;
  background: linear-gradient(42deg, #e4e714 0%, #f50f0f 100%);
}
div#puter {
  position: absolute;
  top: 350px;
  right: 1100px;
  background-color: white;
  width: 250px;
  height: 250px;
}
